html{
    box-sizing: border-box;
}
*,
*:before,
*:after{
    box-sizing: inherit;
}
body{
    font-family: 'Fira Sans', sans-serif;
    font-size: 18px;
}
html,
body{
    height: 100%;
    position: relative;
    overflow-x: hidden; 
    color: #fff;
    text-transform: uppercase;
    background-color: #0d2023;
}
// .container-fluid{
//     max-width: 100%;
//     margin: 0 auto;
//     padding: 0 30px;
// }    
.container-fluid {
    max-width: 2040px;
    margin: 0 auto;
    // padding: 0 15px;
    width: 100%;
}
.container{
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
}
.header{
    height: 100vh;
    position: relative;
}
// .wrapper{
//     display: flex;
//     flex-direction: column;
//     min-height: 100%;
// }
// .content{
//     flex: 1 0 auto;
// }
ul,
li{
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
    display: inline-block;
    color: #fff;
    cursor: pointer;
    // line-height: 24px;
    // font-size: 14px;
}
img {
    vertical-align: middle;
}
.d-flex {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}
.justify-content-between {
    justify-content: space-between;
}
.align-items-center {
    align-items: center;

}
h1{
    font-size: 60px;
}
h1, h3, h4, h5, h6{
    color: #fff;
    @include f800;
    font-family: 'Fira Sans', sans-serif;
    display: block;
    margin: 0;
    text-transform: uppercase;
}
h3{
    font-size: 80px;
    line-height: 156px;
}
h4{
    font-size: 40px;
}
h5{
    font-size: 22px;
}
h6{
    font-size: 18px;
}
input,
select,
textarea{
    outline: none;
    cursor: pointer;
    border-radius: 0px;
    resize: none;
}
// a,
// button,
// input{
//     transition: all 1s ease;
//     cursor: pointer;
// }
a,
button:focus,
select:focus {
	box-shadow: none;
	outline: none;
}

button:not(:disabled) {
    cursor: pointer;
    outline: none;
    border: none;
    
}
.suptitle-left,
.suptitle-right{
    position: relative;
    font-size: 22px;
    line-height: 32px;
    letter-spacing: 7.33333px;
    text-transform: uppercase;
    color: #fff;
    opacity: 0.5;
    padding-left: 97px;
    display: inline-block;
}
.suptitle-left{
    &:before{
        content: '';
        position: absolute;
        height: 1px;
        width: 80px;
        left: 0;
        top: 50%;
        background-color: #fff;
    }
}
.suptitle-right{
    padding-left: 0;
    padding-right: 90px;
    &:after{
        content: '';
        position: absolute;
        height: 1px;
        width: 80px;
        right: 0;
        top: 50%;
        background-color: #fff;
    }
}

.title-shadow{
    position: relative;
    max-width: 467px;
    span{
        font-size: 200px;
        @include f800;
        color: rgba(#fff, 0.02);
        line-height: 156px;
        transform: translateX(-40px);
        display: inline-block;
    }
    .surf__title,
    .travel__title,
    .sleep__title,
    .shop__title{
        position: absolute;
        top: -70px;
        right: 0;
        margin: 0;
        &:before{
            content: '';
            position: absolute;
            height: 1px;
            width: 80px;
            right: 0;
            top: 30px;
            background-color: $green;
        }
    }
}
.btn-box__link{
    @include f800;
    font-size: 40px;
    line-height: 36px;
    position: relative;
    z-index: 1;
    .rectangle-surf{
        width: 167px;
        height: 69px;
        position: absolute;
        top:0;
        right: 0;
        z-index: -1;
        background-color: $green;
        animation-duration: 3s;
        animation-delay: 3s;
        animation-name: linkAnim;
        animation-fill-mode: both;
        transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    span{
        padding: 17px 57px 16px 17px;
        display: inline-block;
        position: relative;
        margin-left: 19px;
        &:before{
            content: '';
            position: absolute;
            width: 20px;
            height: 1px;
            top: 50%;
            left: -10px;
            background-color: #fff;
        }
        &:after{
            content: '';
            position: absolute;
            background-image: url(../images/icons/arrow-right.svg);
            top: 50%;
            right: 17px;
            width: 25px;
            height: 21px;
            transform: translateY(-50%);
        }
    }
}
.surf,
.travel,
.sleep{
    padding: 160px 0 120px;
}
.travel{
    padding-bottom: 265px;
}
.rate-star{
    display: inline-block;
    margin-left: 25px;
    margin-top: 5%;
}
.surf,
.travel,
.sleep,
.shop,
.footer{
    .v-lines__outer {
        border-left: 1px solid #fff;
        border-right: 1px solid #fff;
        opacity: 0.2;
    }
    .v-lines {
        position: absolute;
        left: 50%;
        top: 0;
        height: 100%;
        width: 851px;
        transform: translate(-50%);
        pointer-events: none;
    }
    .v-lines__outer {
        width: 1260px;
        &:before{
            content: '';
            width: 580px;
            border-left: 1px solid #fff;
            height: 100%;
            position: absolute;
            top: 0;
            left: 75%;
            transform: translate(-50%);
        }
    }
    .v-lines__inner, .v-lines__outer {
        position: absolute;
        top: 0;
        left: -50.5%;
        height: 100%;
        margin: 0 auto;
    }
} 

@keyframes linkAnim{
    from{
        background-color: $green;
    }
    50%{
        transform: translateX(-70%);
        opacity: 0;
    }
    to{
        transform: translateX(0%);
        background-color: $green;
        opacity: 1;
    }
}
@keyframes linkAnimSmall{
    from{
        background-color: $green;
    }
    50%{
        transform: translateX(-120%);
        opacity: 0;
    }
    to{
        transform: translateX(0%);
        background-color: $green;
        opacity: 1;
    }
}

  