
$green: #4AF6CD;

@mixin f300 {
    font-weight: 300;
    font-family: 'Fira Sans', sans-serif;
}
@mixin f400 {
    font-weight: 400;
    font-family: 'Fira Sans', sans-serif;
} 
@mixin f500 {
    font-weight: 500;
    font-family: 'Fira Sans', sans-serif;
}
@mixin f800 {
    font-weight: 800;
    font-family: 'Fira Sans', sans-serif;
}


