@import 'vars';
@import 'fonts';
@import 'global';


.header__title{
    font-size: 200px;
    margin-top: 0;
    @include f800;
    color: #FFF;
    opacity: 0.2;
    max-width: 467px;
    line-height: 156px;
    position: absolute;
    top: 0;
    left: -0.97%;
    z-index: 1;
    background: transparent;
}
.header__scroll{
    position: absolute;
    left: 210px;
    bottom: 35px;
    z-index: 4;
    
}
.header__map{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 4;
}
.line-animation{
    stroke-dashoffset: 600;
    stroke-dasharray: 600;
    &--1{
        animation: animdash 10s infinite 5s;
    }
    &--2{
        animation: animdash 12s infinite 17s;
    }
    &--3{
        animation: animdash 15s infinite 20s;
    }
    &--4{
        animation: animdash 18s infinite 24s;
    }
}
@keyframes animdash{
    to{
        stroke-dashoffset: 0;
    }
}
.header__aside{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 1;
    border-right: 1px solid rgba(#fff, 0.7);
    text-align: center;
}
.menu__bar{
    margin-top: 88px;
    &-link{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 30px;
        span{
            font-size: 12px;
            @include f500;
            line-height: 14px;
            margin-top: 6px;
            letter-spacing: 3px;
            display: block;
        }
        .menu__bar-link--surf{
            margin-left: 8px;
        }
    }
}
.header{
    &__search{
        margin-top: 35px;
    }
    &__calendar{
        color: #fff;
        text-align: center;
        margin-top: 30px;
        &-date{
            font-size: 72px;
            line-height: 64px;
            @include f800;
        }
        span{
            font-size: 14px;
            @include f300;
            line-height: 19px;
            opacity: 0.9;
            letter-spacing: 1.4px;
            margin-top: 6px;
        }
    }
    &__location{
        display: inline-block;
        font-size: 12px;
        @include f300;
        line-height: 14px;
        letter-spacing: 1.05px;
        padding-left: 19px;
        margin-top: 30px;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            width: 11px;
            height: 13px;
            background-image: url(../images/icons/map-marker.svg);
            left: 0;
            top: 0;
        }
    }
}
.header__slider{
    &-item{
        height: 100vh;  
        background-image: url(../images/slider-bg.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;
        display: block;
      }
}
.slider-item__info{
    position: absolute;
    text-align: right;
    bottom: 116px;
    right: 73px;
    &-title{
        margin-bottom: 45px;
        margin-top: 0;
        line-height: 86px;
    }
    &-suptitle{
        margin-bottom: 11px;
    }
    &-name{
        font-size: 40px;
        text-align: right;
        margin-bottom: 20px;
    }
}
.slider-arrow{
    cursor: pointer;
    position: absolute;
    top: 40px;
    right: 80px;
    z-index: 5;
    &__left{
        right: 125px;
    }
}
.slider-panels{
    max-width: 920px;
    width: 100%;
    position: absolute;
    bottom: 40px;
    right: 50px;
    .slick-current{
        .panels-box{
            border-top: 4px solid $green;
        }
    }
}
.panels-box{
    width: 200px;
    height: 28px;
    border-top: 4px solid #fff;
    padding-top: 7px;
    &__number{
        font-size: 24px;
        @include f800;
        line-height: 30px;
    }
    &__name{
        font-size: 16px;
        @include f300;
        line-height: 19px;
    }
}
// end header slider section
// start surf section
.surf{
    position: relative;
    background-image: url(../images/content/location.svg);
    background-position: top 250px right 0;
    background-repeat: no-repeat;
    background-size: auto;
    &__title{
        text-align: right;
        margin-right: 80px;
        transform: translateY(-46%);
        &-sub{
            @include f400;
            opacity: 0.8;
        }
        &-name{
            letter-spacing: 0;
            // line-height: 86px;
            span{
                @include f300;
            }
        }
    }
}
.title-shadow{
    .surf__title{
        top: 0;
    }
}
.slider-map{
    background-image: url(../images/content/worldmap.svg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 1720px;
    min-height: 910px;
    margin: 0 auto;
    position: relative;
    .slick-list{
        min-height: 910px;
    }
    .slick-current{
        .slider-dots__content{
            display: block;
            padding: 28px 30px 31px 32px;
        }
    }
}
.slider-dots__content{
    width: 283px;
    height: 216px;
    // background: rgba(#0F1010, 0.7);
    background: rgba(23, 25, 25, 0.79);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    display: none;
    position: absolute;
    bottom: 35px;
    transform: translateX(-50%);
    &:before{
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-bottom: 20px solid $green;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        bottom: -21px;
        left: calc(50% - 1px);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;

    }
    &-top{
        position: relative;
        margin-bottom: 35px;
    }
    &-title{
        margin-bottom: 8px;
        padding-bottom: 8px;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            width: 80px;
            height: 1px;
            background-color: $green;
            left: 0;
            bottom: 0;
        }
    }
    &-subtitle{
        font-size: 16px;
        text-transform: none;
    }
    a{
        position: absolute;
        top: 0;
        right: 0;
    }
    &-name{
        font-size: 10px;
        line-height: 12px;
        @include f300;
    }
    &-number{
        font-size: 16px;
        @include f800;
        line-height: 23px;
        display: block;
        margin: 8px 0;
    }
}
.slider-dots__circle{
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background-color: $green;
    box-shadow: 0px 0px 35px rgba(74, 246, 205, 0.837777);
}
.slider-dots{
    position: relative;
}
.slider-dots--1{
    top: 500px;
    left: 37px;
    .slider-dots__content{
        transform: translateX(-12.5px);
        &:before{
            left: 12px;
        }
    }
}
.slider-dots--2{
    top: 423px;
    .slider-dots__circle{
        position: relative;
        &::before{
        content: '';
        position: absolute;
        background-image: url(../images/icons/mini-marker.png);
        width: 14px;
        height: 16px;
        background-size: cover;
        top: -25px;
        right: -11px;
        }
    }
}
.slider-dots--3{
    top: 469px;
    left: 60px; 
}
.slider-dots--4{
    top: 713px;
    left: -24%;
}
.slider-dots--5{
    top: 336px;
    left: -39%;
}
.slider-dots--6{
    top: 790px;
    left: -72%;
}
.slider-dots--7{
    top: 550px;
    left: -64%;
}
.slider-dots--8{
    top: 754px;
    left: 15%;
    .slider-dots__content{
        transform: translateX(-141.5px);
    }
}
.slick-slide img{
    margin: 0 auto;
}
.surf-slider{
    padding-top: 110px;
    .slick-slide:nth-child(4n + 1){
        .surf-slider__box{
            margin-top: 32px;
        }
    }
    .slick-slide:nth-child(4n + 3){
        .surf-slider__box{
            margin-top: 89px;
        }
    }
    .slider-arrows{
        top: 50px;
        opacity: 0.25;
    }
    &__box{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        min-height: 750px;
    }
    &__overlay{
        min-height: 750px;
        background: rgba(41, 51, 51, 0.81);
        position: relative;
        &:hover{
            background: rgba(#1C2121, 0.3);
            transition: all .5s ease;
            .surf__btn-box{
                display: block;
            }
        }
    }
    .slick-current{
        .surf__btn-box{
            display: block;
        }
        .surf-slider__overlay{
            background: rgba(#1C2121, 0.3);
        }
    }
}
.slider__overlay{
    &-title{
        line-height: 36px;
        max-width: 100px;
        padding: 72px 0;
        margin-left: 40px;
    }
    &-location{
        line-height: 22px;
        letter-spacing: 8px;
        @include f400;
        transform: rotate(-90deg);
        position: absolute;
        bottom: 15%;
        width: 0;
        height: 0;
        white-space: nowrap;
        margin-left: 40px;
        span{
            font-weight: 100;
        }
    }
}
.surf__btn-box{
    bottom: 0;
    position: absolute;
    margin-left: 40px;
    display: none;
}
// end surf section
// start travel section
.travel{
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: auto;
    position: relative;
    &__slider{
        .slider-arrow{
        top: 260px;
        opacity: 0.3;
    }
        .slider-arrow__left{
            right: 200px;
        }
        .slider-arrow__right{
            right: 160px;
        }
    }   
}

.title__block{
    padding: 210px 0 0;
    margin-top: -350px;
    background-repeat: no-repeat;
    background-position: center right;
    background-size: auto;
    min-height: 377px;
}
.travel__slider-title{
    text-align: right;
    padding: 132px 160px 0 0;
    // transform: translateY(-46%);
    transform: translateY(0);
}
.travel__title{
        &-sub {
        @include f400;
        padding-bottom: 8px;
    }
    &-name{
        position: relative;
        img{
            position: absolute;
            left: 27%;
            top: 17%;
        }
    }
}
.content__title{
    padding-left: 135px;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: contain;
    min-height: 261px;
}
.travel-slider{
    &__top{
        background-position: top left;
        background-repeat: no-repeat;
        min-height: 780px;
    }
    &__btn{
        text-align: center;
        margin-top: 140px;
    }
    &__info{
        justify-content: space-around;
        position: relative;
        &-subtitle{
            top: 77%;
            left: -60%;
            color: rgba(#fff, 0.5);
            position: absolute;
            width: 200px;
            text-align: right;
        }
        &-item{
            min-height: 200px;
            position: relative;
        }
        &-title{
           max-width: 206px;
            span{
                font-size: 14px;
                line-height: 36px;
                letter-spacing: 6px;
                color: rgba(#fff, 0.5);
                font-weight: 100;
                display: flex;
                justify-content: flex-end;
            }
        }
    }
}
// end travel section
// start sleep section
.sleep{
    background-repeat: no-repeat;
    background-position: bottom 5% right;
    background-size: auto;
    position: relative;
    &__title-name{
        display: flex;
        max-width: 200px;
    }
}
// end sleep section
// start shop section
.shop{
    position: relative;
    padding-top: 160px;
}
.shop__slider{
    .travel-slider__content{
        background-position: top right;
        background-repeat: no-repeat;
        background-size: auto;
        min-height: 590px;
        margin: 106px 0;
        position: relative;
        padding-bottom: 100px;
    }
    .travel-slider__btn{
        text-align: left;
        margin-top: 0;
    }
    .surf__title-name{
        max-width: 480px;
    }
    .title__block{
        margin-top: 0;
        padding: 110px 0 0;
    }
    .rate-star{
        margin: 47px 0 10px;
    }
}
.shop__slider{
    .slider-arrow{
        opacity: 0.25;
        top: 0;
    }
    .shop__slider-product{
        position: absolute;
        left: 45%;
        bottom:  0;
    }
    &-extras{
        padding-right: 80px;
        align-self: flex-end;
    }
    .shop__slider-extra{
        text-align: center;
    }
    .extras{
        font-size: 18px;
        max-width: 160px;
        & + .extras{
            margin-left: 100px;
        }
        &__title{
            font-size: 28px;
            @include f800;
            line-height: 40px;
            margin-bottom: 25px;
        }
        &__name{
            letter-spacing: 8px;
            line-height: 22px;
            opacity: 0.5;
            @include f300;
            margin-top: 36px;
            margin-bottom: 16px;
            max-width: 160px;
        }
        &__price{
            @include f800;
            line-height: 40px;
        }
    }
}
.surf__title-price{
    font-size: 32px;
    position: relative;
    @include f800;
    margin-bottom: 64px;
    span{
        font-size: 18px;
        position: absolute;
    }
}
.shop-product__image{
    animation-duration: 5s;
    animation-fill-mode: both;
    animation-name: fadeInUp;
    transition: all .5s cubic-bezier(0.21, 1.26, 0.35, 0.47);
}

// end shop section
// start footer
.footer{
    position: relative;
    text-align: center;
    padding-top: 189px;
    padding-bottom: 34px;
    .logo{
        margin: 0 auto;
        align-items: center;
        margin-bottom: 30px;
    }
    span{
        font-size: 12px;
        @include f300;
        letter-spacing: 1.05px;
        line-height: 14px;
        opacity: 0.5;
    }
}



@import 'media';